
nav(class='container-fluid', id='mainNav')
	ul(class='row')
		li(class='col-md-3')
			a(href='/workouts') Workouts
		li(class='col-md-2')
			a(href='/about') About
		li(class='col-md-2')
			a(href='/bmi') BMI
		li(class='col-md-2')
			a(href='/login') Login
		li(class='col-md-3')
			a(href='./') Home
a(href='/edit')