nav(class='container-fluid', id='workoutsNav')
	ul(class='row')
		li(class='col-md-1')
		li(class='col-md-1')
			a(href='/chest') Chest
		li(class='col-md-1')
			a(href='/triceps') Triceps
		li(class='col-md-1')
			a(href='/biceps') Biceps
		li(class='col-md-1')
			a(href='/abdominals') Abdominals  
		li(class='col-md-1')
			a(href='/back')   Back
		li(class='col-md-1')
			a(href='/legs') Legs 
		li(class='col-md-1')
			a(href='/forearms') Forearms
		li(class='col-md-1')
			a(href='/shoulders') Shoulders
		li(class='col-md-1')
			a(href='/cardio') Cardio
		li(class='col-md-1')
			a(href='./') Home
		li(class='col-md-1')
		
