extends workoutsLayout

block content
	h1 Abdominals
	div(class='container')
		div(class='descriptions')
			div(class='row')
				p(class='visualDes', class='col-md-12')
			div(class='row')
				p(class='col-md-12', id='absDes')
	div(class='container')
		div(class='row')
			div(class='col-md-6')
				button(id='crunches') Crunches
				button(id='obCrunches') Oblique Crunches
				button(id='weightSu') Weighted Situps
				button(id='RussTwist') Russian Twists
			div(class='col-md-6')
				button(id='legLifts') Leg lifts
				button(id='fluttKick') Flutter kicks
				button(id='legClimb') Leg climbs
				button(id='dirtyDog') Dirty dogs 


				