extends layout
block content
	h1 about us
	div(class='container')
		div(class='row')
			div(class='col-md-2')
			p(class='col-md-8', id='aboutUs') We are Roving Fitness. Here at RF, we understand how frustrating it can be while traveling, and feel as if you don't have any workout options. There's nothing worse than not getting that chest pump you really want. How do you get in a good workout while traveling you ask? With Roving Fitness. Our goal is to provide you with a workout, that will make you sweat, anwhere, anytime, no equipement required.
			div(class='col-md-2')