extends workoutsLayout

block content
	h1 Biceps
	div(class='container')
		div(class='descriptions')
			div(class='row')
				p(class='visualDes', class='col-md-12')
			div(class='row')
				p(class='col-md-12', id='biDes')
	div(class='container')
		div(class='row')
			div(class='col-md-6')
				button(id='curls') Curls
				button(id='rows') Rows
			div(class='col-md-6')
				button(id='pullups') Pullups
				button(id='chinups') Chinups