extends workoutsLayout

block content
	h1 Full body and cardio
	div(class='container')
		div(class='descriptions')
			div(class='row')
				p(class='visualDes', class='col-md-12')
			div(class='row')
				p(class='col-md-12', id='cardioDes')
	div(class='container')
		div(class='row')
			div(class='col-md-6')
				button(id='Burpees') Burpees
				button(id='Walkouts') Walkouts
				button(id='Jumping') Jumping lunges
			div(class='col-md-6')
				button(id='Pushups') Pushups
				button(id='Situps') Situps
				button(id='Pullups') Pullups
