extends workoutsLayout

block content
	h1 Chest
	div(class='container')
		div(class='descriptions')
			div(class='row')
				p(class='visualDes', class='col-md-12')
			div(class='row')
				p(class='col-md-12', id='chestDes')
	div(class='container')
		div(class='row')
			div(class='col-md-6')
				button(id='Pushups') Pushups
				button(id='CgPushups') Close-grip pushups
				button(id='WgPushups') Wide-grip pushups
			div(class='col-md-6')
				button(id='SidePu') Side pushups
				button(id='StagPu') Staggered-arm pushups
				button(id='sLpushups') Single-leg pushups