extends workoutsLayout

block content
	h1 Forearms
	div(class='container')
		div(class='descriptions')
			div(class='row')
				p(class='visualDes', class='col-md-12')
			div(class='row')
				p(class='col-md-12', id='foreDes')
	div(class='container')
		div(class='row')
			div(class='col-md-6')
				button(id='chairUps') Chair-ups
				button(id='staticChairups') Static chair-ups
				button(id='twistedSChairUps') Twisted chair-ups
			div(class='col-md-6')
				button(id='fingerHangs') Finger hangs
				button(id='fingerPushups') Finger pushups
				button(id='forearmCurls') Forearm curls